body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
\Foto cara.jpg    to your card.
    */
    font-family: 'Courier New', Courier, monospace;
}

.avatar {
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(1, 42, 74, 0.5);
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #89C2D9;
    color: #012A4A;
    border-right: 6px solid #2C7DA0;
    border-bottom: 6px solid #468FAF;
    border-radius: 10px;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    background: #468FAF;
    color: #A9D6E5;
    border-right: 6px solid #89C2D9;
    border-bottom: 6px solid #A9D6E5;
}

.card:hover .avatar {
    transform: rotate(10deg);
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

